#notice {
  color: #00c853;
  font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.break {
  word-break: normal
}

.btn-flat-small.right, em {
  color: red
}

.card-panel a {
  color: #546e7a;
  text-decoration: none;
}

.main {
  margin-top: 10px
}

nav.top-nav {
    height: 122px;
    box-shadow: none;

    .brand-logo {
    line-height: 122px;
    transform: translateX(-25%);
    font-size: 48px;
    }
}

.big-icon {
  font-size: 18px
}

#google-plus {
    font-family: Catull BQ;
    text-transform: lowercase;
    font-size: 18px;
}